{% extends "cc_management/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% load render_table from django_tables2 %}
    <h1>Games</h1>
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {{ filter.form|crispy }}
            <input class="btn btn-primary" type="submit" value="Filter!">
        </form>
        <br>
    {% endif %}
    {% render_table table 'django_tables2/bootstrap4.html' %}
    <a href="#" class="btn btn-success" role="button">Create a Game!</a>
    <a href="#" class="btn btn-info" role="button">View Games by Club!</a>
{% endblock content %}
