{% extends "cc_management/base.html" %}

{% block content %}
<h1>Games</h1>

<table class="table">
    <thead>
        <th scope="col">Game ID</th>
        <th scope="col">Club</th>
        <th scope="col">White Player</th>
        <th scope="col">Black Player</th>
        <th scope="col">Result</th>
        <th scope="col">Batch ID</th>
        <th scope="col">Actions</th>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.club }}</td>
                <td>{{ game.white_player }}</td>
                <td>{{ game.black_player }}</td>
                <td>{{ game.result }}</td>
                <td>{{ game.batch_id }}</td>
                <td>
                    <!-- Don't allow delete right now -->
                    <a href="#" class="btn btn-sm btn-primary" role="button">Edit Result</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="#" class="btn btn-success" role="button">Add a Game!</a>
{% endblock content %}