{% extends "cc_management/base.html" %}

{% block content %}
<h1>Clubs</h1>

<table class="table">
    <thead>
        <th scope="col">Club Name</th>
        <th scope="col">Club ID</th>
        <th scope="col">Actions</th>
    </thead>
    <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.id }}</td>
                <td>
                    <a href="{% url 'club_players' club.id %}" class="btn btn-primary" role="button">View Players</a>
                    <a href="{% url 'club_delete' club.id %}" class="btn btn-danger" role="button">Delete Club</a>
                    <a href="{% url 'club_view' club.id %}" class="btn btn-sm btn-info" role="button">View Club</a>
                    <a href="{% url 'club_edit' club.id %}" class="btn btn-sm btn-primary" role="button">Edit Club</a>
                    <a href="{% url 'club_delete' club.id %}" class="btn btn-sm btn-danger" role="button">Delete Club</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'club_create' %}" class="btn btn-success" role="button">Create Club!</a>
{% endblock content %}