{% extends "cc_management/base.html" %}

{% block content %}
<h1>Delete Classification</h1>

<form method="post">
    {% csrf_token %}
    <div class="alert alert-danger">
        Are you sure you want to delete Classification {{ classification.name }}?
        This will delete <strong>all</strong> players within the classification across <strong>all</strong> clubs.
    </div>
    <div>
        <input class="btn btn-success" type="submit" value = "Submit!"/>
        <a href="{% url 'classification_list' %}" class="btn btn-danger" role="button">Cancel</a>
    </div>
</form>

{% endblock content %}